version: '3.8'

services:
  overwatch-bot:
    build: .
    container_name: overwatch-bot
    restart: unless-stopped
    ports:
      - "3002:3000"
    environment:
      - NODE_ENV=production
    env_file:
      - stack.env
